<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirates And Ships</title>
  </head>
  <body>
    <h1>Pirate</h1>
    <div class="pirate">
      <p>Name: <%= @pirate.name %></p><br>
      <p>Weight: <%= @pirate.weight %></p><br>
      <p>Height: <%= @pirate.height %></p><br>
    </div>

    <h1>Ships</h1>
    <ul>
      <% @pirate.ships.each do |ship| %>
        <li>Name: <%= ship.name %></li>
        <li>Category: <%= ship.category %></li>
        <li>Booty: <%= ship.booty %></li>
      <% end  %>
    </ul>
    <!-- <% @ships.each do |ship| %>
      <div class="ships">
        <p>Name: <%= ship.name %></p><br>
        <p>Type: <%= ship.type %></p><br>
        <p>Booty: <%= ship.booty %></p><br>
      </div>
    <% end %> -->
  </body>
</html>
